h1{
			margin-top: 1%;
			color: #E61610;
			text-align: center; 

}
#chat {
			margin-top: 2%;
			margin-left: auto;
			margin-bottom: auto;
			margin-right: auto;
		 	border: 1px solid #000000;
		 	background-color: #ffffff;
		 	height: 700px;
		 	width: 700px;
		 	overflow-x: none;
		 	overflow-y: auto;
		 }
textarea{
			margin-top: auto;
			margin-left: 31.55%;
			margin-bottom: auto;
			margin-right: auto;
			border: 1px solid #000000;
		 	background-color: #ffffff;
		 	height: 30px;
		 	width: 696px;
		 	overflow-x: none;
		 	overflow-y: auto;
		 	text-align: left;
}
button{
			font-size: 100%;
			margin-top: auto;
			margin-left: 60.5%;
			margin-bottom: auto;
			margin-right: auto;
			border: 1.5px groove #000000;
		 	background-color: #91E4FB;
		 	height: 40px;
		 	width: 150px;
		 	text-align: center;
		 	
}